@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';
@import '../../sass/utils/container';

.container {
    padding-top: 26px;
    padding-bottom: 100px;
}


.tittle {
    font-family: 'Manrope-Bold';
    font-size: 24px;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 28px;
    @include tablet {
        font-size: 48px;
        margin-bottom: 40px;
    }
    @include desktop {
        margin-bottom: 60px;
    }
}

.list {
    font-family: 'Manrope-Regular';
@include flex-center;
flex-direction: column;
gap: 12px;
@include tablet {
    @include flex-center;
    justify-content: flex-start;
    flex-direction: row;
    
    flex-wrap: wrap;
    gap: 32px;
}   
@include desktop {
    justify-content: center;
}    
}

.item {
width: 300px;
height: 192px;

font-size: 12px;

padding-top: 12px;
padding-bottom: 12px;
padding-left: 4px;
padding-right: 4px;

border-radius: 40px;
box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
background-color: getColor('clr-white');
@include tablet {
    width: 336px;
    height: 246px;

    font-size: 14px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 17px;
}
@include desktop {
    width: 394px;
    height: 287px;

    font-size: 16px;
}
}

.wrapper {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    @include tablet {
        gap: 14px;
    }
    @include desktop {
        gap: 32px;
    }
}

.wrapperImage {
    padding: 6px 25px;
}

.subtittle {
    text-align: center;
    margin-bottom: 12px;
    text-decoration-line: underline;
    &:hover{
    color: getColor('clr-accent');
    }   
}

.image {
    width: 82px;
    height: 76px;
    @include tablet {
        width: 90px;
        height: 84px;
    }
    @include desktop {
        width: 118px;
        height: 112px;
        }
}

.listCard {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include tablet {
        gap: 8px;
    }

}

.itemCard {
    
    &:hover {
        color: getColor('clr-accent');
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    &:hover .dropdownContent {
        display: block;
    }

}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: getColor('clr-white');
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 130px;
    border: 1px solid getColor('clr-accent');
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 1;
}

.dropdownItem {
    color: getColor('clr-black');
    padding: 4px 12px;
    text-decoration: none;
    @include flex-center;
    justify-content: space-between;
    gap: 11px;

    &:hover {
        background-color: getColor('clr-accent');
    }
}



 
