@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

.city-select-container {
  padding-top: 0;
  padding-bottom: 0;
  height: 24px;
  min-height: 24px;

  .city-select__control--is-disabled {
    background-color: transparent;
    border: none;
    color: rgb(84, 84, 84);

    .city-select__single-value--is-disabled {
      color: rgb(84, 84, 84);
    }
  }

  .city-select__control {
    width: 155px;
    height: 24px;
    min-height: 24px;
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Manrope-Regular';
    font-size: 12px;
    border-radius: 40px;
    @include transition-animation(all);

    @include tablet {
      width: 216px;
      height: 32px;
      margin-left: 24px;
      padding-left: 12px;
    }

    .city-select__value-container {
      justify-items: start;
      padding: 0;
      height: 24px;
    }

    .city-select__placeholder,
    .city-select__indicators {
      display: none;
      height: 24px;
    }

    .city-select__dropdownIndicator,
    .city-select__indicatorsContainer,
    .city-select__valueContainer,
    .city-select__clearIndicator {
      min-height: 24px;
      height: 24px;
      padding: 0;
    }

    &.city-select__control--is-focused {
      border: 1px solid getColor('clr-accent-opacity');
      background-color: getColor('clr-bg');
      outline: none;
      box-shadow: none;
    }
  }

  .city-select__menu {
    font-size: 12px;
  }

  .city-select__option {
    //styles
  }
  .city-select__option--is-focused {
    //styles
  }
  .city-select__option--is-selected {
    //styles
  }
}
