@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';


.form {
  display: flex;
  height: 100%;
  width: 240px;
  flex-direction: column;
  font-family: 'Manrope-Regular';

  @include tablet {
    width: 448px;
  }
}

.image {
  width: 208px;
  height: 208px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  @include tablet {
    width: 182px;
    height: 182px;
  }
  
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  @include tablet {
    font-size: 36px;
  }
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;

    @include tablet {
        font-size: 20px;
    }

    @include desktop {
        font-size: 20px;
    }
}

.label {
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  @include tablet {
    font-size: 24px;
  }
}

.labelStar {
  color: red;
}

.input {
  margin-bottom: 16px;
  border-radius: 20px;
  @include tablet {
    margin-bottom: 28px;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.input::placeholder {
  font-size: 14px;
  @include tablet {
    font-size: 16px;
  }
}

.textarea {
  resize: none;
  overflow: hidden;
  min-height: 100px;
  max-height: 137px;
  padding: 16px;
  margin-bottom: 40px;

  background-color: getColor('clr-bg');
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 20px;

  font-family: 'Manrope-Regular';
  font-size: 14px;

  @include tablet {
    min-height: 113px;
    max-height: 191px;
    padding: 16px 18px;

    font-size: 18px;
  }
}

.textarea:focus {
  outline: none;
  border: 2px solid #f59256;
}

.ligth {
  background-color: rgb(192, 182, 182);
}

.buttonCancel {
  font-family: 'Manrope-Regular';
  font-size: 16px;
  border: solid 1px #f59256;
  background: #fff;
  color: #111111;
  margin: 0;
  @include tablet {
    font-size: 20px;
  }
}

.buttonNext {
  border-radius: 40px;
  font-size: 16px;
  font-family: 'Manrope-Regular';
  @include tablet {
    font-size: 20px;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  @include tablet {
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }
}

.avatarWrapper {
  position: relative;
  width: 208px;
  height: 208px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  @include flex-center;

  border-radius: 20px;
  background-color: getColor('clr-bg');
  @include tablet {
    width: 182px;
    height: 182px;
  }
}

.avatarIcon {
  width: 48px;
  height: 48px;
  color: rgba(17, 17, 17, 0.6);
}

.avatarInput {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  cursor: pointer;
}