@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';



.form {
  display: flex;
  height: 100%;
  width: 280px;
  flex-direction: column;
  font-family: 'Manrope-Regular';

  @include tablet {
    width: 443px;
    padding: 0;
  }
}

.image {
  width: 140px;
  height: 140px;
}

.title {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  @include tablet {
    font-size: 36px;
  }
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 20px;
  }
}

.listButton {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 12px 7px;
  margin-bottom: 32px;
}

.styledRadio {
  position: absolute;
  top: 0px;
  opacity: 0;
  appearance: none;
  cursor: pointer;
}

.itemRadio {
  display: block;
  padding: 8px 25px;
  font-size: 14px;
  border-radius: 40px;
  letter-spacing: 0.04em;
  line-height: 1.36;
  border: 2px solid getColor('clr-accent');

  color: getColor('clr-black');

  @include transition-animation(all);

  @include tablet {
    font-size: 20px;
  }
}

.styledRadio:hover + .itemRadio,
.styledRadio:focus + .itemRadio,
.styledRadio:checked + .itemRadio {
  background-color: getColor('clr-accent');
  color: getColor('clr-white');
}

.sexWrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 32px;
  font-size: 18px;
  border: none;
}

.sexLabel {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  @include tablet {
    font-size: 24px;
  }
}

.sexInput {
  position: absolute;
  top: 0;
  opacity: 0;
  appearance: none;
}

.sexIcon {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 auto 12px;
  @include tablet {
    width: 54px;
    height: 54px;
  }
}

.sexText {
  @include tablet {
    font-size: 20px;
  }
}

.sexInput:checked ~ .sexText,
.sexInput:hover ~ .sexText,
.sexInput:focus ~ .sexText {
  color: getColor('clr-accent');
}

.label {
  margin-bottom: 12px;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  @include tablet {
    font-size: 24px;
  }
}

.labelStar {
  color: red;
}

.input {
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 28px;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.input::placeholder {
  font-size: 14px;
  @include tablet {
    font-size: 16px;
  }
}

.buttonCancel {
  font-family: 'Manrope-Regular';
  font-size: 16px;
  border: solid 1px #f59256;
  background: #fff;
  color: #111111;
  margin: 0;
  @include tablet {
    font-size: 20px;
  }
}

.buttonNext {
  border-radius: 40px;
  font-size: 16px;
  font-family: 'Manrope-Regular';
  @include tablet {
    font-size: 20px;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;

  @include tablet {
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }
}

.avatarWrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  margin-bottom: 28px;
  display: flex;
  border-radius: 20px;
  background-color: getColor('clr-bg');
  @include tablet {
    height: 140px;
    width: 140px;
  }
}

.avatarIcon {
  width: 48px;
  height: 48px;
  color: rgba(17, 17, 17, 0.6);
}

.avatarInput {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  cursor: pointer;
}

.textarea {
  resize: none;
  overflow: hidden;
  min-height: 40px;
  max-height: 137px;
  padding: 12px 11px;

  background-color: getColor('clr-bg');
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;

  font-family: 'Manrope-Regular';
  font-size: 14px;

@include tablet {
  min-height: 113px;
  max-height: 191px;
  padding: 16px 18px;

  font-size: 18px;
}
}

.textarea:focus {
  outline: none;
  border: 2px solid #f59256;
}

.ligth {
  background-color: rgb(192, 182, 182);
}


