.react-tel-input,
.city-select-container {
  max-width: 458px !important;
  width: 100% !important;
  margin-bottom: 40px;
  position: relative !important;
}
.city-select-container {
  margin-bottom: 16px !important;
}
.city-select__value-container {
  padding: 0 !important;
}
.city-select__indicator-separator {
  width: 0 !important;
}
.city-select__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.city-select__placeholder {
  margin-left: 0 !important;
}

.react-tel-input .form-control,
.city-select__control {
  width: 100% !important;
  outline: none !important;
  border: 1px solid rgba(245, 146, 86, 0.5) !important;
  background: #fdf7f2 !important;
  border-radius: 40px !important;
  height: 40px !important;
  font-family: 'Manrope-Regular';
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  letter-spacing: 0.04em !important;
  color: rgba(17, 17, 17, 0.6) !important;
  box-shadow: none !important;
}
.city-select__placeholder {
  color: rgba(17, 17, 17, 0.6) !important;
}

.city-select__control {
  padding: 14px 11px;
  display: flex;
  align-content: center;
}

.react-tel-input .country-list {
  width: 280px !important;
  background: #fdf7f2;
  border-radius: 15px;
}
.react-tel-input .country-list .country.highlight {
  background-color: #f59256 !important;
  margin: 2px 0 10px 0px;
  border: 1px solid rgba(245, 146, 86, 0.5) !important;
}

.form-control:focus,
.city-select__control .city-select__control--is-focused,
.city-select__control--menu-is-open {
  outline: none;
  border: 2px solid #f59256 !important;
  color: rgb(12, 1, 1) !important;
}

.react-tel-input .flag-dropdown {
  background-color: inherit !important;
  border: none !important;
}

.react-tel-input .flag-dropdown:hover,
.react-tel-input .flag-dropdown:focus {
  cursor: auto !important;
}

.react-tel-input .selected-flag {
  width: 0;
  padding: 0;
}

.react-tel-input .selected-flag .flag {
  left: 15px;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: inherit !important;
}

.city-select__menu {
  background-color: #fdf7f2 !important;
  border-radius: 15px !important;
  overflow: hidden !important;
}

.city-select__option--is-focused {
  background-color: #f1f1f1 !important;
}
.city-select__option--is-selected {
  background-color: #f59256 !important;
}

@media screen and (min-width: 768px) {
  .react-tel-input .form-control,
  .city-select__control {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 25px !important;
    height: 52px !important;
    padding: 14px 32px 14px 72px !important;
    font-size: 18px;
    line-height: 25px;
  }
  .city-select__control {
    padding: 14px 32px 14px 32px !important;
  }
  .css-tj5bde-Svg {
    width: 25px;
    height: 25px;
    color: #757270;
  }
  .PhoneInputCountry {
    top: 18px;
    left: 32px;
  }
  .react-tel-input .selected-flag .flag {
    left: 32px;
  }
  .react-tel-input .country-list {
    width: 448px !important;
  }
}

@media screen and (min-width: 1248px) {
  .react-tel-input .country-list {
    width: 458px !important;
  }
}
