@import '../../sass/utils/mixins';
@import '../../sass/utils/variables';
@import '../../sass/utils/container';

.container {
    padding-top: 22px;
    padding-bottom: 100px;
}

.title {
    margin-top: 0;
    margin-bottom: 28px;

    text-align: center;
    font-family: 'Manrope-Bold';
    font-size: 24px;
    line-height: 1.38;

    color: getColor('clr-black');        
}

.formThumb {
    margin-bottom: 28px;
}

@include tablet {
    .container {
        padding-top: 70px;
    }

    .title {
        font-size: 48px;
    
        margin-bottom: 40px;
    }

    .formThumb {
        margin-bottom: 40px;
    }
    
    .noticesThumb {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin-bottom: 60px;        
    }
}

@include desktop {
    .container {
        padding-top: 50px;
    }
}
