@import "../../sass/utils/mixins";
@import "../../sass/utils/variables";

.form {
    text-align: center;
    margin-bottom: 40px;
}
.formSearch {
    position: relative;
    display: inline-block;
    width: 100%;
    
     @include tablet {
        width: 608px;
     }
}

.inputSearch {
    position: relative;
    padding: 9px 12px;
    font-weight: 500;
    height: 40px;
    font-size: 16px;
    letter-spacing: 0.04em;
    border: none;
    box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
    color:#535353;
    background-color: getColor('clr-white');
    outline: 1px solid getColor('clr-accent');
    cursor: pointer;
    &:hover,
    &:focus {
        border: 1px solid getColor('clr-accent');
    }

    @include tablet {
        padding: 9px 20px;
        max-width: 100%;
        height: 44px;
    }

    @include desktop {
        padding: 10px 20px;
    }
}

.btnSearch {
    position: absolute;
    
    width: 22px;
    height: 22px;
    top: 11px;
    right: 12px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    @include tablet {
        top: 12px;
        right: 25px;

    }
}
