@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.section {
  display: flex;
  align-items: center;

  height: 48px;
  min-width: 280px !important;

  position: relative;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  font-family: 'Manrope-Medium';

  display: flex;
  gap: 80px;
  align-items: center;
}

.nav_item {
  text-decoration: none;
  font-size: 20px;
  color: getColor('clr-text-second');

  transition: 250ms;
}

.nav_item:is(:hover, :focus) {
  color: getColor('clr-accent');
}

.authGroup {
  margin-left: auto;
  font-family: 'Manrope-Medium';

  display: flex;
}

.auth_item {
  display: flex;
  gap: 12px;
  align-items: center;

  padding: 10px 28px;

  font-size: 16px;
  text-decoration: none;
  color: getColor('clr-white');

  background-color: getColor('clr-accent');

  border: 2px solid getColor('clr-accent');
  border-radius: 40px;

  transition: 250ms;
}

.auth_item:is(:hover, :focus) {
  background-color: getColor('clr-accent-active');
  border: 2px solid getColor('clr-accent-active');
}

.auth_item__secondary {
  color: getColor('clr-text-second');
  background-color: getColor('clr-white');
  transition: 250ms;
}

.auth_item__secondary:is(:hover, :focus) {
  background-color: getColor('clr-white');
  border: 2px solid getColor('clr-accent-active');
}

.logo {
  margin-right: 80px;

  font-family: 'Poppins-Bold';

  font-size: 32px;
  font-weight: bold;
  color: getColor('clr-black');
}

.logo_accent {
  color: getColor('clr-accent');
}

.navGroup .MobileNavigation {
  display: none;
}

.PhoneAuth {
  display: none;
}

.authGroup .Auth {
  display: flex;
  gap: 20px;

  height: 44px;
}

.userIcon {
  width: 28px;
  height: 28px;
  fill: getColor('clr-white');
}

@include toDesktop {
  .navGroup .MobileNavigation {
    display: flex;
    align-items: center;
  }

  .navGroup .MobileNavigation .burger {
    position: absolute;
    right: 32px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .navGroup .MobileNavigation .burgerIcon {
    fill: getColor('clr-black');
  }

  .navGroup .Navigation {
    display: none;
  }

  .navGroup nav ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-grow: 1;

    width: 100vw;

    height: calc(100vh - 20px);

    margin-left: calc((768px - 100vw) / 2);
    // margin-right: -16px;
    padding-top: 160px;

    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;

    background-color: #fdf7f2;
  }

  .navGroup nav ul li span {
    font-size: 48px;
  }

  .authGroup {
    margin-right: 60px;
  }

  .auth_item {
    padding: 11px 28px;
    height: 44px;

    font-size: 16px;
  }
}

@include phone {
  .section {
    height: 42px;
  }

  .logo {
    font-size: 28px;
  }

  .navGroup nav ul {
    top: 0;
    z-index: -1;

    gap: 40px;

    padding-top: 200px;

    margin-left: calc((480px - 100vw) / 2);
  }

  .navGroup nav ul li span {
    font-size: 32px;
  }

  .PhoneAuth {
    position: absolute;
    left: 0;

    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 135px;
    width: 100%;

    align-items: center;
  }

  .authGroup .Auth {
    display: none;
  }

  .auth_item {
    padding: 8px 28px;
    height: 35px;

    font-size: 14px;
  }

  .userIcon {
    width: 20px;
    height: 20px;
  }

  .navGroup .MobileNavigation .burger {
    right: 16px;
  }
}

@media screen and (max-width: 480px) {
  .navGroup nav ul {
    margin-left: 0px;
  }
}
