.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navGroupe {
  display: flex;
  gap: 80px;
  align-items: center;
}

.nav_item {
  text-decoration: none;
  font-size: 20px;
  color: #181c27;

  transition: 250ms;
}

.nav_item:is(:hover, :focus) {
  color: #f59256;
  /* text-decoration: underline; */
  /* border-bottom: 1px solid #f59256; */
}

.authGroupe {
  display: flex;
  gap: 20px;
}

.auth_item {
  padding: 10px 28px;

  font-size: 20px;
  text-decoration: none;
  color: #fff;

  background-color: #f59256;

  border: 2px solid #f59256;
  border-radius: 40px;
}

.auth_item__secondary {
  color: #181c27;
  background-color: #fff;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #111;
}

.logo_accent {
  color: #f59256;
}
