@import '../../sass/utils/mixins';
@import '../../sass/utils/variables';

.containerForm {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    margin-top: 204px;
  }
  @include desktop {
    margin-top: 80px;
  }
}
.title {
  margin-bottom: 40px;
  font-family: 'Manrope-Bold';
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: getColor('clr-black');
  @include tablet {
    font-family: 'Manrope-Medium';
    font-size: 36px;
    line-height: 49px;
  }
}

.card {
  max-width: 608px;
  width: 100%;
  background-color: transparent;

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    padding: 60px 80px 40px 80px;
    background-color: getColor('clr-white');
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  }
  @include desktop {
    padding: 60px 80px;
    max-width: 618px;
  }
}

.descr,
.link {
  margin-top: 40px;
  font-family: 'Manrope-Regular';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: rgba(17, 17, 17, 0.6);
}
.link {
  text-decoration-line: underline;
  color: getColor('clr-blue');
}
.blockLinkAuth {
  display: flex;
}
