.form {
  max-width: 458px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBottomMargin {
  margin-bottom: 16px;
}
.inputSecondBottomMargin {
  margin-bottom: 40px;
}
