@import '../../sass/utils/mixins';
@import '../../sass/utils/variables';
.input {
  width: 100%;
  max-width: 458px;
  padding: 0 11px;
  line-height: 38px;

  background-color: getColor('clr-bg');
  border: 1px solid getColor('clr-accent-opacity');
  border-radius: 40px;

  font-family: 'Manrope-Regular';
  font-size: 14px;

  @include transition-animation(all);

  @include tablet {
    height: 52px;
    padding: 14px 32px;

    font-size: 18px;
    line-height: 25px;
  }
}
.input:focus {
  outline: none;
  border: 2px solid getColor('clr-accent');
}

.ligth {
  background-color: rgb(192, 182, 182);
}
