@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow-y: auto;
}

.modalBody {
  position: relative;

  @include flex-center;
  background-color: getColor('clr-white');
  border-radius: 20px;
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  @include tablet {
    border-radius: 40px;
  }
}

.modalCloseButton {
  top: 20px;
}

.modalConfirmButton {
  bottom: 20px;
}

.modalCloseButton,
.modalConfirmButton {
  position: absolute;
  right: 20px;
  width: 34px;
  height: 34px;
  @include flex-center;
  background-color: getColor('clr-bg');
  border: none;
  border-radius: 50%;
  @include transition-animation(all);
  z-index: 10;

  @include tablet {
    width: 44px;
    height: 44px;

    &:active {
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
    }
  }

  &:hover {
    .modalCloseIcon {
      fill: getColor('clr-black');
    }
  }

  &:active {
    transform: translateY(1px);
  }
}

.modalCloseIcon,
.modalConfirmIcon {
  width: 15.6px;
  height: 15.6px;
  fill: getColor('clr-gray');
  @include transition-animation(all);

  @include tablet {
    width: 20px;
    height: 20px;
  }
}