@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

.noticeList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 32px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.modalThumbNoticesPage {
    width: 280px;
    min-height: 874px;

    @include tablet {
        width: 704px;
        min-height: 540px;
    }
}

@include tablet {
    .noticeList{
        justify-content: flex-start;
    }    
}