@import '../../sass/utils/mixins';
@import '../../sass/utils/variables';

.form,
.restorePasswordContainer {
  max-width: 458px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBottomMargin,
.restorePasswordTitle {
  margin-bottom: 30px;
}
.inputSecondBottomMargin {
  margin-bottom: 40px;
}

.blockLink {
  display: flex;
  max-width: 100%;
  min-width: 90%;
  margin-bottom: 40px;
}
.inputLogin {
  margin-bottom: 4px;
}

.input__container {
  position: relative;
  width: 100%;
}
