@import '../../../sass/utils/mixins';
@import '../../../sass/utils/variables';

.auth_item {
  display: flex;
  gap: 12px;
  align-items: center;

  padding: 10px 28px;

  font-size: 16px;
  text-decoration: none;
  color: getColor('clr-white');

  background-color: getColor('clr-accent');

  border: 2px solid getColor('clr-accent');
  border-radius: 40px;

  transition: 250ms;
}

.auth_item:is(:hover, :focus) {
  background-color: getColor('clr-accent-active');
  border: 2px solid getColor('clr-accent-active');
}

.auth_item__secondary {
  color: getColor('clr-text-second');
  background-color: getColor('clr-white');
  transition: 250ms;
}

.auth_item__secondary:is(:hover, :focus) {
  background-color: getColor('clr-white');
  border: 2px solid getColor('clr-accent-active');
}

.userIcon {
  width: 28px;
  height: 28px;
  fill: getColor('clr-white');
}

@include toDesktop {
  .auth_item {
    padding: 11px 28px;
    height: 44px;

    font-size: 16px;
  }
}

@include phone {
  .auth_item {
    padding: 8px 28px;
    height: 35px;

    font-size: 14px;
  }

  .userIcon {
    width: 20px;
    height: 20px;
  }
}
