@import '../../../sass/utils/mixins';
@import '../../../sass/utils/variables';

.userIcon {
  width: 28px;
  height: 28px;
  fill: getColor('clr-white');
}

.authPrimaryBtnSelected {
  background-color: getColor('clr-accent');
  border: 2px solid getColor('clr-accent');

  color: getColor('clr-white');
  @include transition-animation(all);
}

.authPrimaryBtnSelected:hover {
  background-color: getColor('clr-accent-active');
  border: 2px solid getColor('clr-accent-active');
}

// .authSecondaryBtnSelected {
//   background-color: getColor('clr-accent');
//   border: 2px solid getColor('clr-accent');

//   color: getColor('clr-white');
// }

@include toDesktop {
  .auth_item {
    padding: 11px 28px;
    height: 44px;

    font-size: 16px;
  }
}

@include phone {
  .userIcon {
    width: 20px;
    height: 20px;
  }

  .authBtn {
    padding: 8px 37px !important;
    font-size: 14px !important;
  }

  .authPrimaryBtnSelected {
    composes: authBtn;
    background-color: getColor('clr-accent-active');
    border: 2px solid getColor('clr-accent-active');

    color: getColor('clr-white');
  }

  // .authSecondaryBtnSelected {
  //   composes: authBtn;
  //   background-color: getColor('clr-accent');
  //   border: 2px solid getColor('clr-accent');

  //   color: getColor('clr-white');
  // }
}
